-i https://pypi.org/simple

attrs==20.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

cachecontrol[filecache]==0.12.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

cachy==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

certifi==2020.6.20

chardet==3.0.4

cleo==0.7.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

clikit==0.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

cycler==0.10.0

html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'

idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

jsonschema==3.2.0

keyring==20.0.1; python_version >= '3.5' and python_version < '4.0'

kiwisolver==1.2.0; python_version >= '3.6'

lockfile==0.12.2

matplotlib==3.3.1

msgpack==1.0.0

numpy==1.19.2; python_version >= '3.6'

pastel==0.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

pexpect==4.8.0

pillow==7.2.0; python_version >= '3.5'

pkginfo==1.5.0.1

poetry==1.0.10

ptyprocess==0.6.0

pylev==1.3.0

pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'

pyrsistent==0.14.11

python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

pywin32-ctypes==0.2.0; sys_platform == 'win32'

requests-toolbelt==0.8.0

requests==2.24.0

shellingham==1.3.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'

six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

tomlkit==0.5.11; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'

urllib3==1.25.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'

webencodings==0.5.1

